# Data Wrangling 1.5

In [1]:
import openpyxl

import psycopg2

import json

import csv

import openpyxl

In [2]:
connection = psycopg2.connect(
    user = "postgres",
    password = "ucb",
    host = "postgres",
    port = "5432",
    database = "postgres"
)

In [3]:
cursor = connection.cursor()

# Lab: Reading Exel Workbooks and Worksheets

In [4]:
def my_read_excel_work_book_list_sheets(excel_file_name):
    "open the excel file, list the sheets"
    
    work_book = openpyxl.load_workbook(excel_file_name)
    
    print("\nExcel Workbook", excel_file_name, "list of work sheets:\n")
    
    for s in work_book.sheetnames:
        print(s)

In [5]:
my_read_excel_work_book_list_sheets("temp_sale_report.xlsx")

Excel Workbook temp_sale_report.xlsx list of work sheets:

Sales Report
Stores
Customers
Sales
Line Items
Products
Holidays

In [6]:
def my_read_excel_work_book_sheet(excel_file_name, sheet_name, limit):
    "open the excel file, find the sheet_name, print the number of rows specified"
    
    work_book = openpyxl.load_workbook(excel_file_name)
    
    work_sheet = work_book[sheet_name]
                                       
    print("\nExcel Workbook:", excel_file_name)
          
    print("\nWork Sheet:", sheet_name)
    
    print("\nNumber of Columns:", work_sheet.max_column)
          
    print("\nNumber of Rows:", work_sheet.max_row)
    
    work_sheet_list = []
    
    for i in range(1,work_sheet.max_row+1):
        
        row_list = []
        
        for j in range(1,work_sheet.max_column+1):
            
            row_list.append(work_sheet.cell(row = i, column = j).value)
            
        work_sheet_list.append(row_list)
    
    print("\nPrinting the first", limit, "rows :\n")
    
    i = 0
    for row in work_sheet_list:
        print(row)
        i += 1
        if i == limit:
            break

In [7]:
my_read_excel_work_book_sheet("temp_sale_report.xlsx", "Sales Report", 10)

Excel Workbook: temp_sale_report.xlsx

Work Sheet: Sales Report

Number of Columns: 29

Number of Rows: 177

Printing the first 10 rows :

['store_id', 'store', 'receipt_number', 'sale_date', 'dow', 'day_of_week', 'month', 'line_item_id', 'product_id', 'product_name', 'quantity', 'line_item_amount', 'customer_id', 'first_name', 'last_name', 'first_last_name', 'last_first_name', 'street', 'city', 'state', 'zip', 'closest_store_id', 'distance', 'latitude', 'longitude', 'population', 'area', 'density', 'time_zone']
[1, 'Berkeley', '001-000128112', datetime.datetime(2020, 4, 30, 0, 0), 4, 'Thursday ', 'April    ', 1, 1, 'Pistachio Salmon', 1, 12, 3491, 'Siouxie', "M'Quharge", "Siouxie M'Quharge", "M'Quharge, Siouxie", '747 Westridge Center', 'Alameda', 'CA', '94501', 1, 6, 37.7752, -122.2748, 63843, 8.3977, 7602.4, 'America/Los_Angeles']
[1, 'Berkeley', '001-000128112', datetime.datetime(2020, 4, 30, 0, 0), 4, 'Thursday ', 'April    ', 2, 8, 'Brocolli Stir Fry', 1, 12, 3491, 'Siouxie', "M'Quharge", "Siouxie M'Quharge", "M'Quharge, Siouxie", '747 Westridge Center', 'Alameda', 'CA', '94501', 1, 6, 37.7752, -122.2748, 63843, 8.3977, 7602.4, 'America/Los_Angeles']
[1, 'Berkeley', '001-000144249', datetime.datetime(2020, 5, 16, 0, 0), 6, 'Saturday ', 'May      ', 1, 1, 'Pistachio Salmon', 1, 12, 1597, 'Norry', 'Macauley', 'Norry Macauley', 'Macauley, Norry', '654 Sommers Plaza', 'Oakland', 'CA', '94612', 1, 3, 37.8088, -122.2691, 16062, 0.9543, 16831.56, 'America/Los_Angeles']
[1, 'Berkeley', '001-000144249', datetime.datetime(2020, 5, 16, 0, 0), 6, 'Saturday ', 'May      ', 2, 2, 'Teriyaki Chicken', 1, 12, 1597, 'Norry', 'Macauley', 'Norry Macauley', 'Macauley, Norry', '654 Sommers Plaza', 'Oakland', 'CA', '94612', 1, 3, 37.8088, -122.2691, 16062, 0.9543, 16831.56, 'America/Los_Angeles']
[1, 'Berkeley', '001-000144249', datetime.datetime(2020, 5, 16, 0, 0), 6, 'Saturday ', 'May      ', 3, 4, 'Eggplant Lasagna', 2, 24, 1597, 'Norry', 'Macauley', 'Norry Macauley', 'Macauley, Norry', '654 Sommers Plaza', 'Oakland', 'CA', '94612', 1, 3, 37.8088, -122.2691, 16062, 0.9543, 16831.56, 'America/Los_Angeles']
[1, 'Berkeley', '001-000144249', datetime.datetime(2020, 5, 16, 0, 0), 6, 'Saturday ', 'May      ', 4, 6, 'Curry Chicken', 1, 12, 1597, 'Norry', 'Macauley', 'Norry Macauley', 'Macauley, Norry', '654 Sommers Plaza', 'Oakland', 'CA', '94612', 1, 3, 37.8088, -122.2691, 16062, 0.9543, 16831.56, 'America/Los_Angeles']
[1, 'Berkeley', '001-000144249', datetime.datetime(2020, 5, 16, 0, 0), 6, 'Saturday ', 'May      ', 5, 8, 'Brocolli Stir Fry', 2, 24, 1597, 'Norry', 'Macauley', 'Norry Macauley', 'Macauley, Norry', '654 Sommers Plaza', 'Oakland', 'CA', '94612', 1, 3, 37.8088, -122.2691, 16062, 0.9543, 16831.56, 'America/Los_Angeles']
[1, 'Berkeley', '001-000163141', datetime.datetime(2020, 6, 4, 0, 0), 4, 'Thursday ', 'June     ', 1, 1, 'Pistachio Salmon', 3, 36, 4159, 'Cheryl', 'Broe', 'Cheryl Broe', 'Broe, Cheryl', '7 Ruskin Alley', 'El Sobrante', 'CA', '94803', 1, 7, 37.9595, -122.2837, 26165, 12.2691, 2132.6, 'America/Los_Angeles']
[1, 'Berkeley', '001-000163141', datetime.datetime(2020, 6, 4, 0, 0), 4, 'Thursday ', 'June     ', 2, 3, 'Spinach Orzo', 1, 12, 4159, 'Cheryl', 'Broe', 'Cheryl Broe', 'Broe, Cheryl', '7 Ruskin Alley', 'El Sobrante', 'CA', '94803', 1, 7, 37.9595, -122.2837, 26165, 12.2691, 2132.6, 'America/Los_Angeles']

In [8]:
my_read_excel_work_book_sheet("temp_sale_report.xlsx", "Stores", 10)

Excel Workbook: temp_sale_report.xlsx

Work Sheet: Stores

Number of Columns: 7

Number of Rows: 6

Printing the first 10 rows :

['store_id', 'street', 'city', 'state', 'zip', 'latitude', 'longitude']
[1, '3000 Telegraph Ave', 'Berkeley', 'CA', '94705', 37.8555, -122.2604]
[2, '1001 Broadway', 'Seattle', 'WA', '98122', 47.6114, -122.3214]
[3, '2510 McKinney Ave', 'Dallas', 'TX', '75201', 32.7958, -96.8015]
[4, '299 SE 3rd Ave', 'Miami', 'FL', '33131', 25.772, -80.1891]
[5, '1202 Broadway', 'Nashville', 'TN', '37203', 36.1568, -86.7881]

## You try it - read the remaining worksheets in the Excel workbook: Customers, Sales, Line Items, Products, Holidays

# Lab: Loading Excel Workbooks and Worksheets

In [9]:
def my_export_excel_work_book_sheet_to_csv(excel_file_name, sheet_name, csv_file_name):
    "open the excel file, find the sheet_name, export to csv file "
    
    work_book = openpyxl.load_workbook(excel_file_name)
    
    work_sheet = work_book[sheet_name]
                                       
    print("\nExcel Workbook:", excel_file_name)
          
    print("\nWork Sheet:", sheet_name)
    
    print("\nNumber of Columns:", work_sheet.max_column)
          
    print("\nNumber of Rows:", work_sheet.max_row)
    
    work_sheet_list = []
    
    for i in range(1,work_sheet.max_row+1):
        
        row_list = []
        
        for j in range(1,work_sheet.max_column+1):
            
            row_list.append(work_sheet.cell(row = i, column = j).value)
            
        work_sheet_list.append(row_list)
    
    print("\nExtracting Work Sheet", sheet_name, "to", csv_file_name, "\n")
    
    f = open(csv_file_name, "w")    
    writer = csv.writer(f)
    writer.writerows(work_sheet_list)
    f.close()

In [10]:
my_export_excel_work_book_sheet_to_csv("temp_sale_report.xlsx", "Sales Report", "temp_sales_report_excel.csv")

Excel Workbook: temp_sale_report.xlsx

Work Sheet: Sales Report

Number of Columns: 29

Number of Rows: 177

Extracting Work Sheet Sales Report to temp_sales_report_excel.csv

In [11]:
my_export_excel_work_book_sheet_to_csv("temp_sale_report.xlsx", "Stores", "temp_stores_excel.csv")

Excel Workbook: temp_sale_report.xlsx

Work Sheet: Stores

Number of Columns: 7

Number of Rows: 6

Extracting Work Sheet Stores to temp_stores_excel.csv

## Now we have csv files, which we already know how to load into database tables

In [12]:
def my_read_csv_file(file_name, limit):
    "read the csv file and print only the first limit rows"
    
    csv_file = open(file_name, "r")
    
    csv_data = csv.reader(csv_file)
    
    i = 0
    
    for row in csv_data:
        i += 1
        if i <= limit:
            print(row)
            
    print("\nPrinted ", min(limit, i), "lines of ", i, "total lines.")

In [13]:
my_read_csv_file("temp_sales_report_excel.csv", 25)

['store_id', 'store', 'receipt_number', 'sale_date', 'dow', 'day_of_week', 'month', 'line_item_id', 'product_id', 'product_name', 'quantity', 'line_item_amount', 'customer_id', 'first_name', 'last_name', 'first_last_name', 'last_first_name', 'street', 'city', 'state', 'zip', 'closest_store_id', 'distance', 'latitude', 'longitude', 'population', 'area', 'density', 'time_zone']
['1', 'Berkeley', '001-000128112', '2020-04-30 00:00:00', '4', 'Thursday ', 'April    ', '1', '1', 'Pistachio Salmon', '1', '12', '3491', 'Siouxie', "M'Quharge", "Siouxie M'Quharge", "M'Quharge, Siouxie", '747 Westridge Center', 'Alameda', 'CA', '94501', '1', '6', '37.7752', '-122.2748', '63843', '8.3977', '7602.4', 'America/Los_Angeles']
['1', 'Berkeley', '001-000128112', '2020-04-30 00:00:00', '4', 'Thursday ', 'April    ', '2', '8', 'Brocolli Stir Fry', '1', '12', '3491', 'Siouxie', "M'Quharge", "Siouxie M'Quharge", "M'Quharge, Siouxie", '747 Westridge Center', 'Alameda', 'CA', '94501', '1', '6', '37.7752', '-122.2748', '63843', '8.3977', '7602.4', 'America/Los_Angeles']
['1', 'Berkeley', '001-000144249', '2020-05-16 00:00:00', '6', 'Saturday ', 'May      ', '1', '1', 'Pistachio Salmon', '1', '12', '1597', 'Norry', 'Macauley', 'Norry Macauley', 'Macauley, Norry', '654 Sommers Plaza', 'Oakland', 'CA', '94612', '1', '3', '37.8088', '-122.2691', '16062', '0.9543', '16831.56', 'America/Los_Angeles']
['1', 'Berkeley', '001-000144249', '2020-05-16 00:00:00', '6', 'Saturday ', 'May      ', '2', '2', 'Teriyaki Chicken', '1', '12', '1597', 'Norry', 'Macauley', 'Norry Macauley', 'Macauley, Norry', '654 Sommers Plaza', 'Oakland', 'CA', '94612', '1', '3', '37.8088', '-122.2691', '16062', '0.9543', '16831.56', 'America/Los_Angeles']
['1', 'Berkeley', '001-000144249', '2020-05-16 00:00:00', '6', 'Saturday ', 'May      ', '3', '4', 'Eggplant Lasagna', '2', '24', '1597', 'Norry', 'Macauley', 'Norry Macauley', 'Macauley, Norry', '654 Sommers Plaza', 'Oakland', 'CA', '94612', '1', '3', '37.8088', '-122.2691', '16062', '0.9543', '16831.56', 'America/Los_Angeles']
['1', 'Berkeley', '001-000144249', '2020-05-16 00:00:00', '6', 'Saturday ', 'May      ', '4', '6', 'Curry Chicken', '1', '12', '1597', 'Norry', 'Macauley', 'Norry Macauley', 'Macauley, Norry', '654 Sommers Plaza', 'Oakland', 'CA', '94612', '1', '3', '37.8088', '-122.2691', '16062', '0.9543', '16831.56', 'America/Los_Angeles']
['1', 'Berkeley', '001-000144249', '2020-05-16 00:00:00', '6', 'Saturday ', 'May      ', '5', '8', 'Brocolli Stir Fry', '2', '24', '1597', 'Norry', 'Macauley', 'Norry Macauley', 'Macauley, Norry', '654 Sommers Plaza', 'Oakland', 'CA', '94612', '1', '3', '37.8088', '-122.2691', '16062', '0.9543', '16831.56', 'America/Los_Angeles']
['1', 'Berkeley', '001-000163141', '2020-06-04 00:00:00', '4', 'Thursday ', 'June     ', '1', '1', 'Pistachio Salmon', '3', '36', '4159', 'Cheryl', 'Broe', 'Cheryl Broe', 'Broe, Cheryl', '7 Ruskin Alley', 'El Sobrante', 'CA', '94803', '1', '7', '37.9595', '-122.2837', '26165', '12.2691', '2132.6', 'America/Los_Angeles']
['1', 'Berkeley', '001-000163141', '2020-06-04 00:00:00', '4', 'Thursday ', 'June     ', '2', '3', 'Spinach Orzo', '1', '12', '4159', 'Cheryl', 'Broe', 'Cheryl Broe', 'Broe, Cheryl', '7 Ruskin Alley', 'El Sobrante', 'CA', '94803', '1', '7', '37.9595', '-122.2837', '26165', '12.2691', '2132.6', 'America/Los_Angeles']
['1', 'Berkeley', '001-000163141', '2020-06-04 00:00:00', '4', 'Thursday ', 'June     ', '3', '5', 'Chicken Salad', '1', '12', '4159', 'Cheryl', 'Broe', 'Cheryl Broe', 'Broe, Cheryl', '7 Ruskin Alley', 'El Sobrante', 'CA', '94803', '1', '7', '37.9595', '-122.2837', '26165', '12.2691', '2132.6', 'America/Los_Angeles']
['1', 'Berkeley', '001-000163141', '2020-06-04 00:00:00', '4', 'Thursday ', 'June     ', '4', '7', 'Tilapia Piccata', '1', '12', '4159', 'Cheryl', 'Broe', 'Cheryl Broe', 'Broe, Cheryl', '7 Ruskin Alley', 'El Sobrante', 'CA', '94803', '1', '7', '37.9595', '-122.2837', '26165', '12.2691', '2132.6', 'America/Los_Angeles']
['1', 'Berkeley', '001-000163141', '2020-06-04 00:00:00', '4', 'Thursday ', 'June     ', '5', '8', 'Brocolli Stir Fry', '2', '24', '4159', 'Cheryl', 'Broe', 'Cheryl Broe', 'Broe, Cheryl', '7 Ruskin Alley', 'El Sobrante', 'CA', '94803', '1', '7', '37.9595', '-122.2837', '26165', '12.2691', '2132.6', 'America/Los_Angeles']
['1', 'Berkeley', '001-000169216', '2020-06-09 00:00:00', '2', 'Tuesday  ', 'June     ', '1', '1', 'Pistachio Salmon', '3', '36', '4198', 'Andreana', 'Drew', 'Andreana Drew', 'Drew, Andreana', '11039 Cordelia Alley', 'El Sobrante', 'CA', '94803', '1', '7', '37.9595', '-122.2837', '26165', '12.2691', '2132.6', 'America/Los_Angeles']
['1', 'Berkeley', '001-000169216', '2020-06-09 00:00:00', '2', 'Tuesday  ', 'June     ', '2', '3', 'Spinach Orzo', '1', '12', '4198', 'Andreana', 'Drew', 'Andreana Drew', 'Drew, Andreana', '11039 Cordelia Alley', 'El Sobrante', 'CA', '94803', '1', '7', '37.9595', '-122.2837', '26165', '12.2691', '2132.6', 'America/Los_Angeles']
['1', 'Berkeley', '001-000169216', '2020-06-09 00:00:00', '2', 'Tuesday  ', 'June     ', '3', '4', 'Eggplant Lasagna', '4', '48', '4198', 'Andreana', 'Drew', 'Andreana Drew', 'Drew, Andreana', '11039 Cordelia Alley', 'El Sobrante', 'CA', '94803', '1', '7', '37.9595', '-122.2837', '26165', '12.2691', '2132.6', 'America/Los_Angeles']
['1', 'Berkeley', '001-000169216', '2020-06-09 00:00:00', '2', 'Tuesday  ', 'June     ', '4', '5', 'Chicken Salad', '1', '12', '4198', 'Andreana', 'Drew', 'Andreana Drew', 'Drew, Andreana', '11039 Cordelia Alley', 'El Sobrante', 'CA', '94803', '1', '7', '37.9595', '-122.2837', '26165', '12.2691', '2132.6', 'America/Los_Angeles']
['1', 'Berkeley', '001-000169216', '2020-06-09 00:00:00', '2', 'Tuesday  ', 'June     ', '5', '6', 'Curry Chicken', '2', '24', '4198', 'Andreana', 'Drew', 'Andreana Drew', 'Drew, Andreana', '11039 Cordelia Alley', 'El Sobrante', 'CA', '94803', '1', '7', '37.9595', '-122.2837', '26165', '12.2691', '2132.6', 'America/Los_Angeles']
['1', 'Berkeley', '001-000169216', '2020-06-09 00:00:00', '2', 'Tuesday  ', 'June     ', '6', '8', 'Brocolli Stir Fry', '1', '12', '4198', 'Andreana', 'Drew', 'Andreana Drew', 'Drew, Andreana', '11039 Cordelia Alley', 'El Sobrante', 'CA', '94803', '1', '7', '37.9595', '-122.2837', '26165', '12.2691', '2132.6', 'America/Los_Angeles']
['1', 'Berkeley', '001-000179181', '2020-06-18 00:00:00', '4', 'Thursday ', 'June     ', '1', '2', 'Teriyaki Chicken', '1', '12', '5394', 'Katharina', 'Bavester', 'Katharina Bavester', 'Bavester, Katharina', '522 Cordelia Lane', 'San Francisco', 'CA', '94102', '1', '10', '37.7797', '-122.4192', '31067', '0.6665', '46609.19', 'America/Los_Angeles']
['1', 'Berkeley', '001-000179181', '2020-06-18 00:00:00', '4', 'Thursday ', 'June     ', '2', '3', 'Spinach Orzo', '1', '12', '5394', 'Katharina', 'Bavester', 'Katharina Bavester', 'Bavester, Katharina', '522 Cordelia Lane', 'San Francisco', 'CA', '94102', '1', '10', '37.7797', '-122.4192', '31067', '0.6665', '46609.19', 'America/Los_Angeles']
['1', 'Berkeley', '001-000179181', '2020-06-18 00:00:00', '4', 'Thursday ', 'June     ', '3', '4', 'Eggplant Lasagna', '1', '12', '5394', 'Katharina', 'Bavester', 'Katharina Bavester', 'Bavester, Katharina', '522 Cordelia Lane', 'San Francisco', 'CA', '94102', '1', '10', '37.7797', '-122.4192', '31067', '0.6665', '46609.19', 'America/Los_Angeles']
['1', 'Berkeley', '001-000179181', '2020-06-18 00:00:00', '4', 'Thursday ', 'June     ', '4', '6', 'Curry Chicken', '1', '12', '5394', 'Katharina', 'Bavester', 'Katharina Bavester', 'Bavester, Katharina', '522 Cordelia Lane', 'San Francisco', 'CA', '94102', '1', '10', '37.7797', '-122.4192', '31067', '0.6665', '46609.19', 'America/Los_Angeles']
['1', 'Berkeley', '001-000181897', '2020-06-20 00:00:00', '6', 'Saturday ', 'June     ', '1', '1', 'Pistachio Salmon', '1', '12', '1958', 'Theresina', 'Penswick', 'Theresina Penswick', 'Penswick, Theresina', '5975 Twin Pines Hill', 'Berkeley', 'CA', '94707', '1', '3', '37.8983', '-122.2792', '11916', '1.7251', '6907.5', 'America/Los_Angeles']
['1', 'Berkeley', '001-000181897', '2020-06-20 00:00:00', '6', 'Saturday ', 'June     ', '2', '6', 'Curry Chicken', '1', '12', '1958', 'Theresina', 'Penswick', 'Theresina Penswick', 'Penswick, Theresina', '5975 Twin Pines Hill', 'Berkeley', 'CA', '94707', '1', '3', '37.8983', '-122.2792', '11916', '1.7251', '6907.5', 'America/Los_Angeles']

Printed  25 lines of  177 total lines.

In [14]:
my_read_csv_file("temp_stores_excel.csv", 25)

['store_id', 'street', 'city', 'state', 'zip', 'latitude', 'longitude']
['1', '3000 Telegraph Ave', 'Berkeley', 'CA', '94705', '37.8555', '-122.2604']
['2', '1001 Broadway', 'Seattle', 'WA', '98122', '47.6114', '-122.3214']
['3', '2510 McKinney Ave', 'Dallas', 'TX', '75201', '32.7958', '-96.8015']
['4', '299 SE 3rd Ave', 'Miami', 'FL', '33131', '25.772', '-80.1891']
['5', '1202 Broadway', 'Nashville', 'TN', '37203', '36.1568', '-86.7881']

Printed  6 lines of  6 total lines.

## You try it - extract the remaining worksheets in the workbook into csv files; verify the csv files by reading them:

* Customers to temp_customers_excel.csv
* Sales to temp_sales_excel.csv
* Line Items to temp_line_items.csv
* Products to temp_products_excel.csv
* Holidays to temp_holidays_excel.csv

# Lab: Extacting Excel Workbooks and Worksheets

In [15]:
def my_create_excel_sheet_from_query(work_sheet, query):
    "given a work sheet name and query, execute the query and put the results into the sheet"
    
    connection.rollback()
    
    cursor.execute(query)

    connection.rollback()
    
    column_list = [d[0] for d in cursor.description]
    
    row_number = 1
    column_number = 1
    
    for column_name in column_list:
        
        work_sheet.cell(row = row_number, column = column_number, value=column_name)
        
        openpyxl.worksheet.dimensions.ColumnDimension(work_sheet, index=chr(ord('A')+row_number-1), bestFit=True)
        
        column_number += 1
    
    rows = cursor.fetchall()
    
    row_number = 2
    
    for row in rows:
        
        for column_number in range(1, len(column_list)+1):
        
            work_sheet.cell(row = row_number, column = column_number, value=row[column_number-1])
        
        
        row_number += 1

In [16]:
work_book = openpyxl.Workbook()

In [17]:
work_sheet = work_book.active
work_sheet.title = "Sales Report"

query = """

select s.store_id,
       s.city as store,
       (lpad(sa.store_id::text, 3, '0') || '-' || lpad(sa.sale_id::text, 9, '0')) as receipt_number,
       sa.sale_date,
       extract(dow from sa.sale_date) as dow,
       to_char(sa.sale_date, 'Day') as day_of_week,
       to_char(sa.sale_date, 'Month') as month,
       l.line_item_id,
       l.product_id,
       p.description as product_name,
       l.quantity,
       l.quantity * 12 as line_item_amount,
       cu.customer_id,
       cu.first_name,
       cu.last_name,
       (cu.first_name || ' ' || cu.last_name) as first_last_name,
       (cu.last_name || ', ' || cu.first_name) as last_first_name,
       cu.street,
       cu.city,
       cu.state,
       cu.zip,
       cu.closest_store_id,
       cu.distance,
       z.latitude,
       z.longitude,
       z.population,
       z.area,
       z.density,
       z.time_zone
from temp_stores as s
     join temp_sales as sa
         on s.store_id = sa.store_id 
     join temp_customers as cu
         on sa.customer_id = cu.customer_id
     join temp_line_items l
         on sa.store_id = l.store_id and sa.sale_id = l.sale_id
     join temp_products p
         on l.product_id = p.product_id
     join zip_codes z
         on cu.zip = z.zip
order by s.store_id, sa.sale_id, l.line_item_id


"""

my_create_excel_sheet_from_query(work_sheet, query)

In [18]:
work_sheet = work_book.create_sheet("Stores")

query = """

select *
from temp_stores
order by store_id


"""

my_create_excel_sheet_from_query(work_sheet, query)

In [19]:
work_book.save("temp_sale_report_2.xlsx")

In [20]:
my_read_excel_work_book_list_sheets("temp_sale_report_2.xlsx")

Excel Workbook temp_sale_report_2.xlsx list of work sheets:

Sales Report
Stores

In [21]:
my_read_excel_work_book_sheet("temp_sale_report_2.xlsx", "Sales Report", 10)

Excel Workbook: temp_sale_report_2.xlsx

Work Sheet: Sales Report

Number of Columns: 29

Number of Rows: 177

Printing the first 10 rows :

['store_id', 'store', 'receipt_number', 'sale_date', 'dow', 'day_of_week', 'month', 'line_item_id', 'product_id', 'product_name', 'quantity', 'line_item_amount', 'customer_id', 'first_name', 'last_name', 'first_last_name', 'last_first_name', 'street', 'city', 'state', 'zip', 'closest_store_id', 'distance', 'latitude', 'longitude', 'population', 'area', 'density', 'time_zone']
[1, 'Berkeley', '001-000128112', datetime.datetime(2020, 4, 30, 0, 0), 4, 'Thursday ', 'April    ', 1, 1, 'Pistachio Salmon', 1, 12, 3491, 'Siouxie', "M'Quharge", "Siouxie M'Quharge", "M'Quharge, Siouxie", '747 Westridge Center', 'Alameda', 'CA', '94501', 1, 6, 37.7752, -122.2748, 63843, 8.3977, 7602.4, 'America/Los_Angeles']
[1, 'Berkeley', '001-000128112', datetime.datetime(2020, 4, 30, 0, 0), 4, 'Thursday ', 'April    ', 2, 8, 'Brocolli Stir Fry', 1, 12, 3491, 'Siouxie', "M'Quharge", "Siouxie M'Quharge", "M'Quharge, Siouxie", '747 Westridge Center', 'Alameda', 'CA', '94501', 1, 6, 37.7752, -122.2748, 63843, 8.3977, 7602.4, 'America/Los_Angeles']
[1, 'Berkeley', '001-000144249', datetime.datetime(2020, 5, 16, 0, 0), 6, 'Saturday ', 'May      ', 1, 1, 'Pistachio Salmon', 1, 12, 1597, 'Norry', 'Macauley', 'Norry Macauley', 'Macauley, Norry', '654 Sommers Plaza', 'Oakland', 'CA', '94612', 1, 3, 37.8088, -122.2691, 16062, 0.9543, 16831.56, 'America/Los_Angeles']
[1, 'Berkeley', '001-000144249', datetime.datetime(2020, 5, 16, 0, 0), 6, 'Saturday ', 'May      ', 2, 2, 'Teriyaki Chicken', 1, 12, 1597, 'Norry', 'Macauley', 'Norry Macauley', 'Macauley, Norry', '654 Sommers Plaza', 'Oakland', 'CA', '94612', 1, 3, 37.8088, -122.2691, 16062, 0.9543, 16831.56, 'America/Los_Angeles']
[1, 'Berkeley', '001-000144249', datetime.datetime(2020, 5, 16, 0, 0), 6, 'Saturday ', 'May      ', 3, 4, 'Eggplant Lasagna', 2, 24, 1597, 'Norry', 'Macauley', 'Norry Macauley', 'Macauley, Norry', '654 Sommers Plaza', 'Oakland', 'CA', '94612', 1, 3, 37.8088, -122.2691, 16062, 0.9543, 16831.56, 'America/Los_Angeles']
[1, 'Berkeley', '001-000144249', datetime.datetime(2020, 5, 16, 0, 0), 6, 'Saturday ', 'May      ', 4, 6, 'Curry Chicken', 1, 12, 1597, 'Norry', 'Macauley', 'Norry Macauley', 'Macauley, Norry', '654 Sommers Plaza', 'Oakland', 'CA', '94612', 1, 3, 37.8088, -122.2691, 16062, 0.9543, 16831.56, 'America/Los_Angeles']
[1, 'Berkeley', '001-000144249', datetime.datetime(2020, 5, 16, 0, 0), 6, 'Saturday ', 'May      ', 5, 8, 'Brocolli Stir Fry', 2, 24, 1597, 'Norry', 'Macauley', 'Norry Macauley', 'Macauley, Norry', '654 Sommers Plaza', 'Oakland', 'CA', '94612', 1, 3, 37.8088, -122.2691, 16062, 0.9543, 16831.56, 'America/Los_Angeles']
[1, 'Berkeley', '001-000163141', datetime.datetime(2020, 6, 4, 0, 0), 4, 'Thursday ', 'June     ', 1, 1, 'Pistachio Salmon', 3, 36, 4159, 'Cheryl', 'Broe', 'Cheryl Broe', 'Broe, Cheryl', '7 Ruskin Alley', 'El Sobrante', 'CA', '94803', 1, 7, 37.9595, -122.2837, 26165, 12.2691, 2132.6, 'America/Los_Angeles']
[1, 'Berkeley', '001-000163141', datetime.datetime(2020, 6, 4, 0, 0), 4, 'Thursday ', 'June     ', 2, 3, 'Spinach Orzo', 1, 12, 4159, 'Cheryl', 'Broe', 'Cheryl Broe', 'Broe, Cheryl', '7 Ruskin Alley', 'El Sobrante', 'CA', '94803', 1, 7, 37.9595, -122.2837, 26165, 12.2691, 2132.6, 'America/Los_Angeles']

In [22]:
my_read_excel_work_book_sheet("temp_sale_report_2.xlsx", "Stores", 10)

Excel Workbook: temp_sale_report_2.xlsx

Work Sheet: Stores

Number of Columns: 7

Number of Rows: 6

Printing the first 10 rows :

['store_id', 'street', 'city', 'state', 'zip', 'latitude', 'longitude']
[1, '3000 Telegraph Ave', 'Berkeley', 'CA', '94705', 37.8555, -122.2604]
[2, '1001 Broadway', 'Seattle', 'WA', '98122', 47.6114, -122.3214]
[3, '2510 McKinney Ave', 'Dallas', 'TX', '75201', 32.7958, -96.8015]
[4, '299 SE 3rd Ave', 'Miami', 'FL', '33131', 25.772, -80.1891]
[5, '1202 Broadway', 'Nashville', 'TN', '37203', 36.1568, -86.7881]

## You try it -  add code cells to the above code to add worksheets for Customers, Sales, Line Items, Products, and Holidays; verify by reading the sheets